@import url("https://fonts.googleapis.com/css?family=Caveat+Brush");
@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

:root
{   --head-bg-color: rgba(0, 128, 0, 0.75);
    --head-border-color: #004400;
    --head-color: black;
    --text-color: black;
    --radius: 30px;
}

*
{   box-sizing: border-box;
}

body
{   background: url("../images/dragon.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

/* begin style specific to the header
*/ 

header
{   background-color: var(--head-bg-color);
    border-color: var(--head-border-color);
    border-radius: var(--radius);
    border-style: solid;
    border-width: 2px;
    font-family: 'MedievalSharp', cursive;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    width: 95%;
}

h1, h2
{   color: --head-color;
    font-size: 30px;
    text-align: center;
}

h2
{   font-size: 24px;
}

/* end style specific to the header
*/

/* begin style specific to the game elements
*/

main
{   background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    border-radius: var(--radius);
    height: auto;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: auto;
    padding: 20px;
    position: relative;
    width: 70%;
}

.button-bar
{   height: auto;
    margin: 0px auto;
    margin-bottom: 20px;
    width: 95%;
}

.button-bar button
{   background-color: var(--head-bg-color);
    border-color: var(--head-border-color);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    color: --text-color;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-bar button:hover
{   background-color: white;
    border-color: white;
}

#instructions
{   border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px;
}

main p
{   margin: 5px auto;
    width: 75%
}

#the-word
{   background: url("../images/128-196.jpg");   
    border: 1px solid black;
    border-radius: 30px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: auto;
    padding: 5px;
    padding-left: 30px;
    padding-right: 35px;
    width: 80%;
}

.letter
{   background: white;
    border-color: black;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    display: none;
    float: left;
    font-family: 'Caveat Brush', cursive;
    font-size: 30px;
    height: 40px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    width: 40px;
}

/* end style specific to the game elements
*/

/* begin style specific to sticky footer
*/


body, html
{   height: 100%;
}

header
{   margin-top: 0px;
}

.wrapper
{   margin-bottom: -50px;
    min-height: 100%; 
    padding: 10px;
    padding-bottom: 0px;
    width: 100%;
}

.push
{   height: 50px;
}

footer
{   background-color: var(--head-bg-color);
    border-color: var(--head-border-color);
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    height: auto;
    margin: 10px auto;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
    width: 95%;
}

/* end style specific to the sticky footer
*/

/* media queries for mobile responsiveness
   using Bootstrap's breakpoints
*/

@media screen and (max-width: 992px)
{   main
    {   width: 85%;
    }

    main
    {   font-size: 14px;
    }

    .letter
    {   font-size: 29px;
        height: 35px;
        padding: 3px;
        width: 35px;
    }
}

@media screen and (max-width: 768px)
{   header, footer, main
    {   width: 95%;
    }

    main
    {   font-size: 14px;
    }

    .letter
    {   font-size: 24px;
        height: 30px;
        padding: 2px;
        width: 30px;
    }
}

@media screen and (max-width: 576px)
{   .wrapper
    {   margin-bottom: -41px;
        padding: 0px;
        padding-bottom: 0px;
    }

    header, footer
    {   border: none;
        border-radius: 0px;
        width: 100%;
    }

    header
    {   border-bottom-color: var(--border-color);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        margin-bottom: 0px;
    }

    footer
    {   border-top-color: var(--border-color);
        border-top-style: solid;
        border-top-width: 1px;
        margin-bottom: 0px;
    }

    main
    {   font-size: 12px;
    }

    .letter
    {   font-size: 21px;
        height: 25px;
        padding: 2px;
        width: 25px;
    }
}